html {
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
}

h2 {
    margin-bottom: 40px;
}

label {
    display: block;
    margin: 24px;
    font-weight: 500;
    font-size: 18px;
}

input {
    margin-left: 24px;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #111;
}

input:focus {
    outline: none;
}

button {
    font-size: 16px;
    font-weight: 700;
    min-width: 100px;
    padding: 12px 16px;
    border: none;
    background-color: #BCEAD5;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

button:first-of-type {
    margin-right: 40px;
}

.answer {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}